<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <data>
        <record id="res_config_settings_view_form" model="ir.ui.view">
            <field name="name">Gaspares</field>
            <field name="model">res.config.settings</field>
            <field name="priority" eval="10"/>
            <field name="inherit_id" ref="base.res_config_settings_view_form"/>
            <field name="arch" type="xml">
                <xpath expr="//div[hasclass('settings')]" position="inside">
                    <div class="app_settings_block" data-string="Gaspares" data-key="gaspares">
                        <h2>G4S configuración</h2> 
                        <div class="row mt16 o_settings_container">
                            <div class="col-12 col-lg-6 o_setting_box" id="route_config_supervisor">
                                <div class="o_setting_left_pane"></div>
                                <div class="o_setting_right_pane">
                                    <span class="o_form_label">API de integración G4S</span>
                                    <div class="text-muted">
                                        Formato: http://direccion_ip:puerto
                                    </div>
                                    <div class="content-group">
                                        <div class="mt16">
                                            <field name="gaspar_integracion_api"
                                                class="o_light_label"
                                                colspan="4" nolabel="1"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </xpath>
            </field>
        </record>

        <record id="action_gaspares_settings" model="ir.actions.act_window">
            <field name="name">G4S configuración</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">res.config.settings</field>
            <field name="view_id" ref="res_config_settings_view_form"/>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="context">{'module' : 'point_of_sale'}</field>
        </record> 
    </data>
</odoo>